.places {
  margin: 0 auto;
  margin-bottom: 49px;
  max-width: 984px;
}

.places:last-child {
  margin-bottom: 64px;
}

@media (min-width: 768px) {
  .places {
    margin: 0 24px 73px 24px;
    display: grid;
    grid-template-columns: 340px auto;
  }

  .places:nth-child(2) {
    margin-bottom: 63px;
  }

  .places:nth-child(4) {
    margin-bottom: 72px;
  }

  .places:last-child {
    margin-bottom: 90px;
  }
}

@media (min-width: 1024px) {
  .places {
    margin: 0 48px 80px 48px;
    display: grid;
    grid-template-columns: 440px auto;
  }

  .places:nth-child(2) {
    margin-bottom: 80px;
  }

  .places:nth-child(4) {
    margin-bottom: 80px;
  }

  .places:last-child {
    margin-bottom: 92px;
  }
}

@media (min-width: 1280px) {
  .places {
    margin: 0 auto;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 460px auto;
  }

  .places:last-child {
    margin-bottom: 51px;
  }
}
