.lead__img_text {
  margin: 0 auto;
  padding: 0 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .lead__img_text {
    padding: 0 24px;
  }
}

@media (min-width: 1024px) {
  .lead__img_text {
    padding: 0;
  }
}
